<section class="popular">
    <div class="text">
        <h2 class="title">{{ section.settings.title }}</h2>
        <p class="description">{{ section.settings.description }}</p>
    </div>
    <div class="images">
        <ul>
            {% for product in collections.popular.products %}
                <li class="popular-item">
                    {{ product.image }}
                    {{ product.title }}
                    {{ product.price }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% schema %}
{

    "name": "Popular banner", // Section name
    "settings": [
    {
    "id": "title",
    "type": "text",
    "label": "Section Title"
    },
    {
    "id": "description",
    "type": "text",
    "label": "Section Description"
    }
    ]
 
}
{% endschema %}