{%- if section.blocks.size > 0 -%}
<section class="testimonials">
    <h2 class="title">{{ section.settings.title }}</h2>
    <h4 class="quote">{{ section.settings.quote }}</h4>
    <section class="testimonials-cards">
        <ul class="testimonials-list">
            {% for block in section.blocks %}
                <li class="testimonial-cards-item">
                    <img src=" {{ block.settings.image.src | img_url: "medium" }}" alt="Profile picture">
                    
                    {{ block.settings.stars }}
                          {% for star in block.settings.stars %}
                              <img src="{{ 'star.png' | img_url: 'small' }}" alt="">
                          {% endfor %}  
                    <p class="review">{{ block.settings.quote }}</p>
                    <p class="author-name">{{ block.settings.author }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
</section>
{%- endif -%}

<style>
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
</style>

{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
        "type": "text",
        "id": "quote",
        "label": "Quote",
        "default": "Some quotes from our happy customers"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author’s name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Photo"
        },
        {
          "type": "number",
          "id": "stars",
          "label": "Stars"
          
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}